.venv/
.venv_train/
__pycache__/
*.py[cod]
*.cache

runs/
runtime/

yolo11n.pt
yolov8n.pt
yolov8l.pt

assets/weights/*
!assets/weights/.gitkeep

raw_data/*
!raw_data/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/yolo/
!outputs/anoma/
outputs/yolo/*
!outputs/yolo/.gitkeep
outputs/anoma/*
!outputs/anoma/.gitkeep

datasets/*
!datasets/.gitkeep
